.detailContainer{
    display: flex;
    justify-content: center;
}

.imgDetailContainer img{
    max-width: 250px;
}

.itemDetailInfoContainer{
    display: flex;
}

.buttonDetail{
    padding: 10px;
}

.detailContainerRigth{
    padding: 10px;
}

.detailCount{
    max-width: 70%;
}