.counterContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    height: 25px;
}

.labelContainer{
    background-color: white;
    width: 100%;
    text-align: center;
}

.cartIcon{
    height: 10px;
    padding: 4px;
}