.itemContainer{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.itemInfoContainer{
    flex-direction: column;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.itemTitle{
}