.itemCountContainer{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: flex-start;
}

.itemCountContent{
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.countContent{
    display: flex;
    flex-direction: column;
}

.counterContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    height: 25px;
}

.labelContainer{
    background-color: white;
    width: 100%;
    text-align: center;
}

.cartIcon{
    height: 10px;
    padding: 4px;
}