.navbar{
    background-color: #3cc195;
    padding: 12px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo{
    width: 30px;
    margin-left: 10px;
}

.topnav {
    font-weight: bold;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.topnav a {
    float: left;
    color: #312828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1.9px solid transparent;
}

.topnav a:hover {
    border-bottom: 1.9px solid red;
}

.topnav a.active {
    border-bottom: 1.9px solid red;
}


  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    border-bottom: 1.9px solid transparent;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
    color: #312828;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }